$light-pink: #f8ceff;
$pink: #ff1c67;
$red: #ff1111;
$dark-red: #871111;

$silver: #e6e6e6;
$light-gray: #EFF2F5;
$gray: #666A73;
$dark-gray: #282c35;
$text-gray: #45494E;

$blue: #6495ED;
$dark-blue: #002168;

$green: #00AB44;
$nasty-green: #00451b;
