body {
  box-sizing: border-box;
  background-color: $light-gray;
  color: $gray;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#main-home-img {
  width: 100vw;
  height: 35vw;
}

#main-home-img-container{
  position: relative;
}

#main-home-img-title{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  left: 0;
  bottom: 0;
  color: white;
  font-size: 50px;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
  &:hover{
    cursor: default;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
  }
  div{
    text-align: center;
  }
}

.fa-bookmark {
  color: $blue;
}
