body {
  box-sizing: border-box;
  background-color: $light-gray;
  color: $gray;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.fa-bookmark {
  color: $blue;
}
