#home-category-search-box{
  display: flex;
  flex-direction: column;
  height: 700px;
  margin: 0 auto;
  max-width: 1250px;

  .search-box-row{
    display: flex;
    flex-direction: row;
    margin: 10px 40px;

    div{
      height: 200px;
      object-fit: cover;
      transition: all .3s ease-in-out;
      background-size: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 3px;

      &:hover{
        cursor: pointer;
        // -webkit-filter: brightness(90%) !important; /* Safari */
        // filter: brightness(90%) !important;
        transform: scale(1.05);
      }
    }

    .shadow-img-background{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: 100%;
      &:hover{
        background-color: rgba(0,0,0,0.5);
        transform: scale(1);
      }
    }

    .pic-text{
      color: white;
      font-size: 25px;
      letter-spacing: 125%;
      z-index: 10000;
      font-weight: bold;
      margin-top: 30px;
      -webkit-filter: brightness(100%) !important; /* Safari */
      filter: brightness(100%) !important;
    }

    .pic-text-secret{
      visibility: hidden;
      color: white;
      font-size: 15px;
      font-weight: bold;
      margin-top: 10px;
      padding: 0px 15px;
      text-align: center;
      -webkit-transition: visibility 100ms;
      transition: visibility 100ms;
      z-index: 10000;
      -webkit-filter: brightness(100%) !important; /* Safari */
      filter: brightness(100%) !important;
    }

    .cat-selector{
      display: flex;
      flex-direction: column;
    }


    .sb-r1-c1{
      width: 60%;
      background-image: url("http://res.cloudinary.com/events4u/image/upload/v1495316021/concert.jpg");
      &:hover .pic-text-secret{
        visibility: visible;
      }
    }
    .sb-r1-c2{
      width: 38%;
      margin-left: 2%;
      background-image: url("http://res.cloudinary.com/events4u/image/upload/v1495246509/Home-cooking-img.jpg");
      &:hover .pic-text-secret{
        visibility: visible;
      }
    }
    .sb-r2-c1{
      width: 32%;
      background-image: url("http://res.cloudinary.com/events4u/image/upload/v1495254592/class.jpg");
      &:hover .pic-text-secret{
        visibility: visible;
      }
    }
    .sb-r2-c2{
      width: 32%;
      background-image: url("http://res.cloudinary.com/events4u/image/upload/v1495320541/conference.jpg");
      margin-left: 2%;
      &:hover .pic-text-secret{
        visibility: visible;
      }
    }
    .sb-r2-c3{
      width: 32%;
      margin-left: 2%;
      background-image: url("http://res.cloudinary.com/events4u/image/upload/e_brightness:-17/v1495253058/party-07_ka52na.jpg");
      &:hover .pic-text-secret{
        visibility: visible;
      }
    }
    .sb-r3-c1{
      width: 38%;
      background-image: url("http://res.cloudinary.com/events4u/image/upload/v1495320952/paintbrush.jpg");
      &:hover .pic-text-secret{
        visibility: visible;
      }
    }
    .sb-r3-c2{
      width: 60%;
      margin-left: 2%;
      background-image: url("http://res.cloudinary.com/events4u/image/upload/e_brightness:-23/v1495323033/football_roq0ur.jpg");
      &:hover .pic-text-secret{
        visibility: visible;
      }
    }


  }
}
