.new-event-form{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.new-event-step-1, .new-event-step-2, .new-event-step-3{
  display: flex;
  flex-direction: column;
}
