
#event-details{
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  overflow: hidden;
  align-items: center;
  padding-top: 50px;
  height: 100%;

}
.blurred-background-img{
  position: absolute;
  width: 100%;
  top: 60px;
  left: 0px;
  right: 0px;
  height: 100%;
  -webkit-filter: blur(70px) grayscale(40%); /* Safari */
  filter: blur(70px) grayscale(40%);
  transform: scale(1.5);
  object-fit: cover;
  z-index: -10;
  height: 100%;
}

.event-show{
  width: 80vw;
  overflow: visible;
  background-color: white;

  header{
    display: flex;
    .event-detail-img{
      width: 70%;
      object-fit: cover;
      height: 350px;
    }
    .title-box{
      width:30%;
      padding: 10px;
      background-color: #efefef;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      h1{
        font-size: 30px;
        font-weight: bold;
        text-align: center;
      }
      h3, h4{
        font-size: 20px;
        text-align: center;
      }
    }
    height: 350px;
  }

  .mid-row{
    padding: 10px;
    display: flex;
    padding-left: 30px;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
  }

  .event-description-box{
    display: flex;
    flex-direction: row;
    padding: 20px;
    margin-left: 10px;
    .desc-left-col{
      width: 71%;
      display: flex;
      flex-direction: column;
      .event-description{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        h5{
          font-weight: bold;
          margin-bottom: 10px;
          margin-top: 20px;
        }
      }
    }
    .desc-right-col{
      padding-left: 50px;
      width: 29%;
      display: flex;
      flex-direction: column;
      .event-more-info{
        .event-more-info-attr{
          margin-bottom: 8px;
          font-weight: 900;
        }
        .event-more-info-data{
          margin-bottom: 20px;
        }
      }
    }
  }
}

.checkout-modal{
  width: 28% !important;
}
.buy-tickets{
  padding: 5px;
  width: 100%;
  background-color: #99CCCC;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  letter-spacing: 150%;
  &:hover{
    -webkit-filter: brightness(75%); /* Safari */
    filter: brightness(75%);
  }
}
.buy-tickets:focus{
  outline: none;
}

.buy-tickets:active{
  position:relative;
  top:1px;
}

.fa-bookmark-o{
  color: #C63D0F;
}

.fa-bookmark-o:hover, .fa-bookmark:hover{
  cursor: pointer;
}

.address div{
  margin: 5px 0px;
}
