.footer {
  border-top: 6px solid $gray;
  padding-top: 1rem;
  padding-bottom: 0.2rem;
  text-align: center;
  background: $dark-gray;
  right: 0;
  bottom: 0;
  left: 0;

  small {
    color: $gray;
    font-size: 12px;
  }
}

.icon-box {
  margin: 10px 0;

  i {
    font-size: 2em;
    margin: 0 8px;
    color: $gray;

    &:hover {
      color: white;
    }
  }

}
