.footer {
  border-top: 6px solid #666A73;
  padding-top: 1rem;
  text-align: center;
  background: #282c35;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;

  small {
    color: #666a73;
  }
}

.icon-box {
  margin: 10px 0;

  i {
    font-size: 2em;
    margin: 0 8px;
    color: #666A73;

    &:hover {
      color: white;
    }
  }

}

/**
 * Footer Styles
 */
