#main-nav{
  display: flex;
  direction: row;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  background-color: white;
  border-bottom: 1px solid $gray;
}

.logo{
  margin: 0px 15px;

  font-family: 'Signika', sans-serif;
  font-size: 1.3em;
  text-decoration: none;
  color: $red;
  letter-spacing: .5px;
  border-right: 1px solid $light-gray;
  padding: 17px 30px;

}

.navbar-links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  font-size: 0.75em;

  li {
    height: 100%;
    border-left: 1px solid $light-gray;
    font-size: 12px;
    letter-spacing: 0.7px;
    color: #45494E;
    padding: 17px 25px 15px 25px;

    &:hover{
      cursor: pointer;
      background-color: $light-gray;
    }
  }

  .text-li {
    padding: 20px 25px;
  }

  a {
    color: $text-gray;
  }

  .dropdown {
    position: relative;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px 25px;

    &:hover .dropdown-content {
      cursor: pointer;
      background: #f9f9f9;
      display: block;
    }
  }

}

.dropdown-content {
  display: none;
  top: 53px;
  right: -1px;
  color: black;
  position: absolute;
  width: 150%;
  min-width: 135px;
  border: 1px solid black;
  background-color: white;
  font-size: 15px;
  /*box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);*/
  padding: 8px;
  z-index: 1000;
  overflow:auto;

  li {
    border-left: none;
    text-transform: none;
    letter-spacing: .7px;
    font-size: 14px;
    padding: 20px 40px;
  }

  &:hover{
    display: block;
  }

  button{
    font: inherit;
    font-size: inherit;
    padding: inherit;
    margin: 0px 15px;
    padding: 16px 0px;
    font-weight: bolder;
  }
}

#create {
  font-weight: 500;
  padding: 17px 25px 15px 25px;
  border-left: 1px solid $light-gray;
  padding: 20px 25px;
  letter-spacing: 0.7px;
  cursor: pointer;

  a {
    color: $blue;

    &:hover {
      color: $dark-blue;
    }

  }


}

#fa-arrow {
  margin-left: 5px;
  font-size: 1.2em;
}
