input {
	outline: none;
}
input[type=search] {
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	font-family: inherit;
	font-size: 100%;
}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
	display: none;
}


input[type=search] {
	border: solid 1px #ccc;
	padding: 10px 15px;
	width: 320px;
  font-size: 14px;
}

input[type=search]:focus {
	background-color: #fff;
	border-color: #C63D0F;;

	-webkit-box-shadow: 0 0 5px rgba(109,207,246,.5);
	-moz-box-shadow: 0 0 5px rgba(109,207,246,.5);
	box-shadow: 0 0 5px rgba(109,207,246,.5);
}


input:-moz-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}

.search {
	input[type=submit] {
		padding: 13px 35px 12px 35px;
		background-color: $red;
		color: white;
		border: 0;
		text-transform: uppercase;
		letter-spacing: 1.15px;
		transition: all 0.3s;

		&:hover {
			background-color: $dark-red;
			cursor: pointer;
		}
	}
}
