.slick-slider, .slick-list{
  max-width: 1250px;
  margin: 0 auto;
}

.slick-track:hover{
  cursor: col-resize;
}

.slick-prev{
  left: -23px !important;
  top: 110px !important;
  z-index: 9999;
}

.slick-next{
  right: -5px !important;
  top: 110px !important;
}

.slick-next:after{
  color: gray !important;
}

.slick-next:before, .slick-prev:before{
  font-size: 35px !important;
  color: gray !important;
  z-index: 9999;
  opacity: 75%;


  &:hover{
    color: #f2f2f2;
  }
}

#event-slider-container{
  padding: 20px !important;
}


.event-slider-item{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
  border-radius: 5px;
  // border: 1px solid #efefef;
  // background-color: #f2f2f2;

  .fa-bookman-o{
    position: absolute;
    top: 0;
    left: 0;
  }

  .event-slider-item-img{
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
    width: 100%;
    opacity: .9;

    &:hover{
      opacity: 1;
    }
  }

  .price-tag-slider{
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
  }

  .event-slider-info{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: white;
    border-radius: 4px;

    .browse-event-title{
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 18px;
    }

    .event-slider-header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .slider-date{
  }
}
