.slick-slider, .slick-list{
  max-width: 1250px;
  margin: 0 auto;
}

.slick-track:hover{
  cursor: pointer;
}

.slick-prev{
  left: -23px !important;
  top: 110px !important;
  z-index: 9999;
}

.slick-next{
  right: -5px !important;
  top: 110px !important;
}

.slick-next:after{
  color: red !important;
}

.slick-next:before, .slick-prev:before{
  font-size: 35px !important;
  color: red !important;
  z-index: 9999;
  opacity: 75%;


  &:hover{
    color: #f2f2f2;
  }
}

#event-slider-container{
  padding: 20px !important;
}


.event-slider-item{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
  background-color: white;
  font-size: 12px;
  letter-spacing: 0.7px;
  color: $text-gray;

  &:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.19);
    -webkit-filter: brightness(95%); /* Safari */
    filter: brightness(95%);
  }

  .fa-bookman-o{
    position: absolute;
    top: 0;
    left: 0;
  }

  .event-slider-item-img{
    height: 200px;
    object-fit: cover;
    border-radius: 1px;
    width: 100%;
  }

  .price-tag-slider{
    position: absolute;
    top: 0;
    right: 0;
  }

  .event-slider-info{
    border-top: 1px solid silver;
    border-bottom: 1px solid gray;
    // background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .browse-event-title{
      margin: 5px 0px 5px 0px;
      font-weight: bold;
      font-size: 15px;
      color: black;
    }

    .event-slider-header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .slider-date{
    text-transform: uppercase;
  }
}
