
.slick-slider, .slick-list{
  margin: 30px;
}

.slick-track:hover{
  cursor: col-resize;
}

.slick-prev{
  left: -27px !important;
  z-index: 9999;
}

.slick-next{
  right: -7px !important;
}

.slick-next:before, .slick-prev:before{
  font-size: 40px !important;
  color: gray !important;
  z-index: 9999;
  opacity: 75%;


  &:hover{
    color: #f2f2f2;
  }
}




.event-slider-item{
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 10px;
  border: 1px solid #efefef;
  background-color: #f2f2f2;

  .fa-bookman-o{
    position: absolute;
    top: 0;
    left: 0;
  }

  .event-slider-item-img{
    height: 200px;
    object-fit: cover;
  }

  .price-tag-slider{
    position: absolute;
    background-color: white;
    top: 0;
    right: 0;
  }

  .event-slider-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 12px;
  }
  .event-slider-info{
    padding: 10px;

    .browse-event-title{
      margin-bottom: 5px;
      font-weight: bold;
      font-size: 18px;
    }

    .event-slider-header{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
