#account-page{
  display: flex;
  flex-direction: column;

  h1{
    text-align: center;
    margin: 50px;
    font-size: 30px;
  }

  .account-page-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 10px;
    border-bottom: 1px solid black;

    .selected{
      font-weight: bolder;
      font-size: 25px;
      .fa{
        color: #C63D0F !important;
      }
    }
    nav{
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0px 40px;
      font-size: 20px;
      transition: .5s;
      &:hover{
        cursor: pointer;
        color:  #C63D0F;
        font-size: 25px;
      }
      span{
        margin: 0px auto;
      }
      .fa{
        margin-top: 10px;
        color: black;
      }
    }
  }

  #my-events-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    li{
      max-width: 400px;
      margin: 20px;
    }

    .browse-event-item{
      display: flex;
      justify-content: center;
      #cancel-event{
        border-radius: 5px;
        border: 1px solid #C63D0F;
        color: #C63D0F;
        background-color: white;
        &:hover{
          -webkit-filter: brightness(80%); /* Safari */
          filter: brightness(80%);
          cursor: pointer;
        }
        &:focus{
          outline: none;
        }
      }
    }
  }
}
