#main-nav{
  display: flex;
  direction: row;
  justify-content: space-between;
  height: 55px;
  align-items: center;
  border-bottom: 1px solid grey;
}

.logo{
  margin: 0px 15px;
  padding: 5px;
}

.logo a {
  font-family: 'Signika', sans-serif;
  font-size: 1.3em;
  text-decoration: none;
  color: red;
  letter-spacing: .5px;
  padding: 22px 20px 10px 0px;
  border-right: 1px solid #EFF2F5;
}

.navbar-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  text-transform: uppercase;
  font-size: 0.75em;
}

.navbar-links li{
  max-height: 90%;
  border-left: 1px solid #EFF2F5;
  font-size: 12px;
  letter-spacing: 0.5px;
  border-radius: 0px;
  color: #45494E;
  padding: 22px 25px 12px 25px;
  transition: all 0.2s;
  margin: 5px;
}


.navbar-links a{
  color: #45494E;
}

.navbar-links li:hover{
  cursor: pointer;
  background-color: #EFF2F5;
}

.dropdown {
  position: relative;
  display: inline-block;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 15px;
}

.dropdown:hover {
  cursor: pointer;
  color: #C63D0F;
}

.dropdown:hover .dropdown-content {
  background: #f9f9f9;
  display: block;
}

.dropdown-content {
  display: none;
  top: 60px;
  right: -15px;
  color: black;
  position: absolute;
  width: 150%;
  min-width: 135px;
  border: 1px solid black;
  background-color: white;
  font-size: 15px;
  /*box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.2);*/
  padding: 8px;
  z-index: 1000;
  overflow:auto;
}

.dropdown-content li {
  border-left: none;
  text-transform: none;
  letter-spacing: .7px;
  font-size: 14px;
  padding: 20px 40px;
}

.dropdown-content:hover{
  display: block;
}

.dropdown-content button{
  font: inherit;
  font-size: inherit;
  padding: inherit;
  margin: 0px 15px;
  padding: 16px 0px;
  font-weight: bolder;
}
