<!DOCTYPE html>
<html>
  <head>
    <title>EventHub</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Mada:200|Roboto:300,500|Signika:600" rel="stylesheet">
    <script src="https://use.fontawesome.com/ae6eb3dab9.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
